<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/index.css">
</head>
<body>
    <main>
<section>
    <div class="text">
    <h1>BR Architects</h1>
    </div>
    <div class="text1">
    <p>Projects</p>
    <p>About</p>
    <p>Contact</p>
    </div>
    <div class="container">
        <div class="card">
            <p class="metn">Summer House</p>
        </div>
        <div class="card1">
            <p class="metn">Brick House</p>
        </div>
        <div class="card2">
            <p class="metn">Renovated</p>
        </div>
        <div class="card3">
            <p class="metn">Barn House</p>
        </div>
        <div class="card4">
            <p class="metn">Summer House</p>
        </div>
        <div class="card5">
            <p class="metn">Brick House</p>
        </div>
        <div class="card6">
            <p class="metn">Renovated</p>
        </div>
        <div class="card7">
            <p class="metn">Barn house</p>
        

    </div>

</section>

<section>
    <div class="Projects">
        <div class="Document">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    </div>
    <div class="sekil">
        <h1>John Doe</h1>
        <h3>CEO & Founder</h3>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <button>Contact</button>
    </div>
    <div class="sekil1">
        <h1>Jane Doe</h1>
        <h3>Architect</h3>
        <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>
        <button>Contact</button>
    </div>

     </section>
    </main>
</body>
</html>